.prettyprint {
  max-height: 450px;
  min-height: 260px;
  overflow: scroll;
}

.canvas-wrapper {
 position: relative;
 width: 100%;
 padding-bottom: 100%;
}

#panel-canvas {
 position: absolute;
 width: 100%;
 height: 100%;
}